body {
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(#ffe3e3,#ffd6d6);
font-family: Poppins, sans-serif;
}

.card {
background: white;
padding: 40px;
border-radius: 25px;
text-align: center;
animation: pop 0.6s ease;
}

@keyframes pop {
0% {transform: scale(.5); opacity:0;}
100% {transform: scale(1); opacity:1;}
}

img {
width: 200px;
margin-bottom: 20px;
}

h1 {
color:#ff4d6d;
}

.buttons {
margin-top:20px;
position: relative;
height:60px;
}

button {
padding:15px 40px;
border-radius:50px;
border:none;
font-size:18px;
cursor:pointer;
transition:.3s;
}

#yes {
background:#ff4d6d;
color:white;
}

#no {
background:#ddd;
position:absolute;
left:140px;
}
